[submodule "fei"]
	path = fei
	url = https://github.com/ylezlop/fei.git
[submodule "poema"]
	path = poema
	url = https://github.com/ylezlop/poema
[submodule "ecommerce"]
	path = ecommerce
	url = https://github.com/ylezlop/ecommerce.git
[submodule "xml00"]
    path = xml00
    url = https://github.com/ylezlop/xml00.git
