img {
            border-radius: 60%;
            box-shadow: 10px 10px 20px purple;
        }
img.redonda {
            border-radius: 10% 40% 30% 70%;
            box-shadow: 10px 10px 20px cornflowerblue;
        }